{% extends 'base.html' %}

{% block title %} About {% endblock title%}
{% block body %}

<div class="container bg-success text-white">
 <p class="lead">Hi this is  <a href="/" class="text-white">Vishal</a>. I am the owner of <a href="/" class="text-white">Indian Veganism</a>. Initially I was not any animal lover but actually a chicken lover more appropriately a dead chicken lover. I used to eat chicken and mutton five days a week. One day I saw a video on facebook of animals defending their kids from being sent to the slaughter houses that day I realised that cows, hens, goats all want to live with their babies and play freely with them. So a feeling of guilt was engraved on me but still with great guilt and hesitation i use to eat meat as I was brainwashed with those illogical counters of 'plants also feel pain', 'animals wii be overpopulated', 'law of food chain', etc. <br><br>
 Finally one of my friend called me one day and said he turned vegan and we had a long debate about rights of animals, health benifits of having vegan diet and effect ofmeat consumption in global warming so from that day onwards i started researching more and more on veganism by watching various documentries, suscribing to different insta and fb pages and by gaining proper facts and information I turned vegan.<br>  
 <br>To become vegan all you need is correct information and a rational mind. You will love to become vegan if you are more concerned about basic animal rights, our Earth and Environment and our Health.<br><br>
The main aim of creating <a href="/" class="text-white">Indian Veganism</a> is to help non-vegan to contribute in making world to live in. This website can also help vegan community as tool to explain their vegan lifestyle to their friends and families.<br><br><br>

If you have find our website useful and valuable then kindly share our website to others and you can also connect with me at our Instagram page <a href="#" class="text-white">@Indian Veganism</a>
</p>
</div>
{% endblock body %}