{% extends 'base.html' %}

{% block title %} Home {% endblock title%}
{% block body %}

<body class="d-flex  p-5 mx-auto flex-column text-center text-white bg-dark">
  <main class="flex-shrink-0 px-3 py-5 my-5">
    <h1>Welcome to Indian Veganism</h1><br>
    <h3>Be the Voice for the Voiceless</h3>
    <br><br>
    <p class="lead">'I am vegan because I saw the horror in their eyes and realized the monster was me.'</p>
    <p class="lead" "text-sucess"><a href="/blog" class="btn btn-outline-success fw-bold">Go to our Blog</a></p>
  </main>

  <footer class=" footer mt-auto py-3 text-white">
    <p>Copyright by <a href="/" class="text-white">Indian Veganism</a></p>
  </footer>
</body>
{% endblock body %}